:root {
	--darkest: rgb(64, 48, 45);
	--darker: rgb(89, 39, 29);
	--middle: rgb(128, 33, 14);
	--light: rgb(173, 72, 52);
	--lightest: rgb(242, 236, 235);
	--hover-shadow: rgb(0,0,0);
	--border-color: rgba(64, 48, 45, 0.4);  /* Use DAKREST */
	--content-box-bkg: rgba(2173, 72, 52, 0.5); /* Use LIGHT */
}

body {
	background-color: var(--lightest);
	color: var(--darkest);
}

h1 {
	color:var(--lightest);
}

.nav-link {
	color: var(--lightest);
}

.nav-link a {
	color: var(--lightest);
}

.nav-link a:hover {
	color: var(--light);
	text-shadow: 0 0 5px var(--hover-shadow);
}

#menuBar {
	background-color: var(--darkest);
}

.content-box {	
	border-color: var(--border-color);
	background-color: var(--content-box-bkg);
	box-shadow: 0 0 15px 7px var(--lightest) inset;
}

ol li {
	border-color: var(--border-color)
}

.foot-link {
	color: var(--darkest)!important
}

footer {
	background-color: var(--darkest);
	color: var(--lightest);
}

.styled-label span:after {
	background-color: var(--darkest);
}

button {
	color: var(--lightest);
	background-color: var(--darkest);
  }
  
  button:hover {
	  color: var(--lightest);
	  background-color: var(--middle);
	  cursor: pointer;
  }

  .days {
	background-color: var(--lightest);
}

.days::-webkit-slider-thumb {
	background-color: var(--middle);
}


/* CALENDAR STYLING */

.date-picker:hover {
    background-color: var(--middle);
    color: var(--lightest);	
}

/* Day-specific styling */
/* .date-picker:nth-child(1) {
    color: var(--middle);
}
 
.date-picker:nth-child(6) {
    color: var(--middle);
} */

.date-picker.selected {
    background-color: var(--lightest);
    font-weight: bold;
    outline: 1px dashed var(--middle);
}

.date-picker.selected:hover {
    color: var(--middle)
}

.button-container-calendar button {
    background: var(--middle);
    color: #fff;
    border: 1px solid var(--middle);
}

.event-marker::after {
    background-color: var(--darkest);
}

.table-calendar td,
.table-calendar th {
    border: 1px solid var(--darker);
}