:root {
	--darkest: rgb(45, 49, 66);
	--darker: rgb(72, 67, 92);
	--middle: rgb(128, 143, 135);
	--light: rgb(175, 208, 191);
	--lightest: rgb(226, 239, 222);
	--hover-shadow: rgb(0,0,0);
	--border-color: rgba(45, 49, 66, 0.4); /* Use DARKEST */
	--content-box-bkg: rgba(175, 208, 191, 0.5);
}

body {
	background-color: var(--lightest);
	color: var(--darkest);
}

h1 {
	color:var(--lightest);
}

.nav-link {
	color: var(--lightest);
}

.nav-link a {
	color: var(--lightest);
}

.nav-link a:hover {
	color: var(--light);
	text-shadow: 0 0 5px var(--hover-shadow);
}

#menuBar {
	background-color: var(--darkest);
}

.content-box {	
	border-color: var(--border-color);
	background-color: var(--content-box-bkg);
	/* box-shadow: 0 0 15px 7px var(--lightest) inset; */
}

ol li {
	border-color: var(--border-color)
}

#theme {
	color: var(--lightest)
}

#theme:hover {
	background-color: var(--light);
	color: var(--darkest)
}

#themeSelect {
	background-color: var(--content-box-bkg);
	border-color: var(--darkest);
}

.popupBox {
	border-color: var(--darkest);
}

.foot-link {
	color: var(--darkest)!important
}

footer {
	background-color: var(--darkest);
	color: var(--lightest);
}

.styled-label span:after {
	background-color: var(--darkest);
}

button {
	color: var(--lightest);
	background-color: var(--darkest);
  }
  
  button:hover {
	  color: var(--lightest);
	  background-color: var(--middle);
	  cursor: pointer;
  }

  .days {
	background-color: var(--lightest);
}

.days::-webkit-slider-thumb {
	background-color: var(--middle);
}


/* CALENDAR STYLING */

.date-picker:hover {
    background-color: var(--middle);
    color: var(--lightest);	
}

/* Day-specific styling */
/* .date-picker:nth-child(1) {
    color: var(--middle);
}
 
.date-picker:nth-child(6) {
    color: var(--middle);
} */

.date-picker.selected {
    background-color: var(--lightest);
    font-weight: bold;
    outline: 1px dashed var(--middle);
}

.date-picker.selected:hover {
    color: var(--middle)
}

.button-container-calendar button {
    background: var(--middle);
    color: #fff;
    border: 1px solid var(--middle);
}

.event-marker::after {
    background-color: var(--darkest);
}

.table-calendar td,
.table-calendar th {
    border: 1px solid var(--darker);
}