.note {
  font-size: 12px;
}

.left-wrap {
    width: 50vw;
    margin-left: auto;
    margin-right: auto;
  }

  .right-wrap {
    width: 50vw;
  }

  .wider {
    width: 95%;
  }

  #studyDayHover {
    display: inline-block;
    position: relative;
  }
  
  #studyDayTooltip {
    display: none;
    position: relative;
    background-color: #555555ad;
    color: #ffffff;
    border-radius: 5px;
    width: max-content;
    height: 30px;
    line-height: 30px;
    padding-left: 8px;
    padding-right: 8px;
    margin: 0 auto 0 auto;
  }

  #difficultyHover {
    display: inline-block;
    position: relative;
  }
  
  #difficultyTooltip {
    display: none;
    position: relative;
    background-color: #555555ad;
    color: #fff;
    border-radius: 5px;
    width: max-content;
    height: 30px;
    line-height: 30px;
    padding-left: 8px;
    padding-right: 8px;
    margin: 0 auto 0 auto;
  }

  /* =-=-=-=-=-=-=-=-=-=-=- */
/* Custom Radio Buttons */

.styled-radio {
    display: none;
  }
  
  .styled-label {
    display: inline-block;
    padding: 5px 10px;
    cursor: pointer;
    /* This is the element that senses the clicks */
  }
  
  .styled-label span {
    position: relative;
    line-height: 22px;
  }
  
  .styled-label span:before,
  .styled-label span:after {
    content: "";
  }
  
  .styled-label span:before {
    border: 1px solid #222021;
    width: 20px;
    height: 20px;
    /* margin-right: 10px; */
    display: inline-block;
    vertical-align: top;
  }
  
  .styled-label span:after {
    width: 14px;
    height: 14px;
    position: absolute;
    top: 2px;
    left: 4px;
    transition: 300ms;
    opacity: 0;
  }
  
  .styled-label input:checked + span:after {
    opacity: 1;
  }

  .radio-label::after {
    pointer-events: none;
  }
  
  /* =-=-=-=-=-=-=-=-=-=-=- */

  .cb-div {
    width: 60%;
  }
  
  .soft-div {
    border-style: dotted;
    opacity: 20%;
    width: 40%;
  }

  /* TABLE */
  
  #topic-info {
    align-items: center;
    align-content: center;
    text-align: center;
    width: 100%;
  }
  
  table {
    margin: 15px auto 0 auto;
    width: 80%;
  }
  
  #topic-table td input {
    width: 95%;
  }

  #topic-table tr {
    width: 100%;
  }
  
  /* #topic-table td {
    width: 33%;
  } */
  
  .topic-color {
    width: 10% !important;
  }

  .topic-row-color {
    width: 70% !important;
  }

  #topic-start {
    width: 25%;
  }

  input[type="color" i] {
    border-radius: 50%;
    inline-size: 30px;
    block-size: 30px;
    padding: 3px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(153, 153, 153);
  }
  
  input[type="color" i]::-webkit-color-swatch-wrapper {
    padding: 1px;
  }
  
  input[type="color" i]::-webkit-color-swatch {
    border-radius: 50%;
  }
  
  input[type="color" i]::-moz-color-swatch {
    border-radius: 50%;
  }

  /* =-=-=-=-=-=-=-=-= */
  
  /* DIFFICULTY SLIDER */
  .diff {
    -webkit-appearance: none;
    width: 100%;
    height: 30px;
    border-radius: 20px;
    background-image: linear-gradient(to right, green, yellow, red);
    outline:0;
    padding: 5px
    /* -webkit-transition: 0.2s;
    transition: opacity 0.2s; */
  }
  
  .diff::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 30px;
    height: 30px;
    background: var(--sliderImage);
    background-position: center right;
    background-size: contain;
    cursor: pointer;
  }
  
  .diff::-moz-range-thumb {
    -webkit-appearance: none;
    width: 30px;
    height: 30px;
    border: 0;
    background: var(--sliderImage);
    background-position: center right;
    cursor: pointer;
  }

  /* STUDY DAY SLIDER */

  .days {
    -webkit-appearance: none;
    width: 100%;
    height: 30px;
    border-radius: 20px;
    outline-width: 1px;
    outline-style: solid;
    padding: 1px 6px; /* new line */
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
  }
  
  .days::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 0;
    cursor: pointer;
  }

  .days::-webkit-slider-thumb::before {
    /* content: var(--thumbContent); */
    content: "hi";
    color: white;
  }
  
  .days::-moz-range-thumb {
    -webkit-appearance: none;
    width: 24px;
    height: 24px;
    border: 0;
    cursor: pointer;
  }
  
  /*  djfhdkjsfhksjdhf */

  .submit {
    font-size: 18px;
    padding: 5px 10px 5px 10px;
  }

  /* FLASHING WHEN BAD INPUT */

  /* Define a CSS animation named "blink" */ 
  @keyframes blink { 
  
    0%, 
    100% { 
        color: #ff0000; 
        /* First color - red */ 
    } 

    50% { 
        color: var(--darkest); 
        /* Second color - black */ 
    } 
}

/* Apply the "blink" animation to  
        elements with class "blinking-effect" */ 
        .blinking-effect { 
          animation: blink 1s linear infinite; 
          /* The animation will run indefinitely */ 
      } 


  #exclusions tr th:nth-child(2) {
    width: 50%;
    /* background-color: #ff0000; */
}

#exclusions tr th:nth-child(1) {
  width: 50%;
  /* background-color:aqua; */
}

#exclusionDate {
  width: max-content !important;
}

#exclusions {
  width: 30%;
  /* background-color: bisque; */
}

#submitExclusion {
  padding: 3px 10px 3px 10px;
  font-size: 16px;
}

#excludeDaysDiv {
  display: none;
}

/* ERROR */
#submit-break {
  display:none;
}

#resultList {
  display: none;
}

.resultListBullets {
  list-style: none;
}

#notes {
  text-wrap:balance;
}